/*#region font-face: Roboto*/
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2)
    format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2)
    format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc4.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKOzY.woff2)
    format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKOzY.woff2)
    format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKOzY.woff2)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2)
    format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2)
    format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2)
    format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2)
    format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/*#endregion*/

/*#region Regular*/
@mixin FontXXXSmall {
  font-family: unquote('Roboto');
  font-size: 8px;
}

@mixin FontXXSmall {
  font-family: unquote('Roboto');
  font-size: 10px;
}

@mixin FontXSmall {
  font-family: unquote('Roboto');
  font-size: 12px;
}

@mixin FontSmall {
  font-family: unquote('Roboto');
  font-size: 14px;
}

@mixin FontMedium {
  font-family: unquote('Roboto');
  font-size: 16px;
}

@mixin FontBig {
  font-family: unquote('Roboto');
  font-size: 18px;
}

@mixin FontXBig {
  font-family: unquote('Roboto');
  font-size: 20px;
}

@mixin FontXXBig {
  font-family: unquote('Roboto');
  font-size: 24px;
}

@mixin FontXXXBig {
  font-family: unquote('Roboto');
  font-size: 28px;
}

@mixin FontLarge {
  font-family: unquote('Roboto');
  font-size: 32px;
}

@mixin FontXLarge {
  font-family: unquote('Roboto');
  font-size: 36px;
}

@mixin FontXXLarge {
  font-family: unquote('Roboto');
  font-size: 40px;
}

@mixin FontXXXLarge {
  font-family: unquote('Roboto');
  font-size: 44px;
}
/*#endregion*/

/*#region Thin - 200*/
@mixin FontXXXSmall-Thin {
  font-family: unquote('Roboto');
  font-size: 8px;
  font-weight: 200;
}

@mixin FontXXSmall-Thin {
  font-family: unquote('Roboto');
  font-size: 10px;
  font-weight: 200;
}

@mixin FontXSmall-Thin {
  font-family: unquote('Roboto');
  font-size: 12px;
  font-weight: 200;
}

@mixin FontSmall-Thin {
  font-family: unquote('Roboto');
  font-size: 14px;
  font-weight: 200;
}

@mixin FontMedium-Thin {
  font-family: unquote('Roboto');
  font-size: 16px;
  font-weight: 200;
}

@mixin FontBig-Thin {
  font-family: unquote('Roboto');
  font-size: 18px;
  font-weight: 200;
}

@mixin FontXBig-Thin {
  font-family: unquote('Roboto');
  font-size: 20px;
  font-weight: 200;
}

@mixin FontXXBig-Thin {
  font-family: unquote('Roboto');
  font-size: 24px;
  font-weight: 200;
}

@mixin FontXXXBig-Thin {
  font-family: unquote('Roboto');
  font-size: 28px;
  font-weight: 200;
}

@mixin FontLarge-Thin {
  font-family: unquote('Roboto');
  font-size: 32px;
  font-weight: 200;
}

@mixin FontXLarge-Thin {
  font-family: unquote('Roboto');
  font-size: 36px;
  font-weight: 200;
}

@mixin FontXXLarge-Thin {
  font-family: unquote('Roboto');
  font-size: 40px;
  font-weight: 200;
}

@mixin FontXXXLarge-Thin {
  font-family: unquote('Roboto');
  font-size: 44px;
  font-weight: 200;
}
/*#endregion*/

/*#region Bold - 700*/
@mixin FontXXXSmall-Bold {
  font-family: unquote('Roboto');
  font-size: 8px;
  font-weight: 700;
}

@mixin FontXXSmall-Bold {
  font-family: unquote('Roboto');
  font-size: 10px;
  font-weight: 700;
}

@mixin FontXSmall-Bold {
  font-family: unquote('Roboto');
  font-size: 12px;
  font-weight: 700;
}

@mixin FontSmall-Bold {
  font-family: unquote('Roboto');
  font-size: 14px;
  font-weight: 700;
}

@mixin FontMedium-Bold {
  font-family: unquote('Roboto');
  font-size: 16px;
  font-weight: 700;
}

@mixin FontBig-Bold {
  font-family: unquote('Roboto');
  font-size: 18px;
  font-weight: 700;
}

@mixin FontXBig-Bold {
  font-family: unquote('Roboto');
  font-size: 20px;
  font-weight: 700;
}

@mixin FontXXBig-Bold {
  font-family: unquote('Roboto');
  font-size: 24px;
  font-weight: 700;
}

@mixin FontXXXBig-Bold {
  font-family: unquote('Roboto');
  font-size: 28px;
  font-weight: 700;
}

@mixin FontLarge-Bold {
  font-family: unquote('Roboto');
  font-size: 32px;
  font-weight: 700;
}

@mixin FontXLarge-Bold {
  font-family: unquote('Roboto');
  font-size: 36px;
  font-weight: 700;
}

@mixin FontXXLarge-Bold {
  font-family: unquote('Roboto');
  font-size: 40px;
  font-weight: 700;
}

@mixin FontXXXLarge-Bold {
  font-family: unquote('Roboto');
  font-size: 44px;
  font-weight: 700;
}
/*#endregion*/

/*#region XBold - 900*/
@mixin FontXXXSmall-XBold {
  font-family: unquote('Roboto');
  font-size: 8px;
  font-weight: 900;
}

@mixin FontXXSmall-XBold {
  font-family: unquote('Roboto');
  font-size: 10px;
  font-weight: 900;
}

@mixin FontXSmall-XBold {
  font-family: unquote('Roboto');
  font-size: 12px;
  font-weight: 900;
}

@mixin FontSmall-XBold {
  font-family: unquote('Roboto');
  font-size: 14px;
  font-weight: 900;
}

@mixin FontMedium-XBold {
  font-family: unquote('Roboto');
  font-size: 16px;
  font-weight: 900;
}

@mixin FontBig-XBold {
  font-family: unquote('Roboto');
  font-size: 18px;
  font-weight: 900;
}

@mixin FontXBig-XBold {
  font-family: unquote('Roboto');
  font-size: 20px;
  font-weight: 900;
}

@mixin FontXXBig-XBold {
  font-family: unquote('Roboto');
  font-size: 24px;
  font-weight: 900;
}

@mixin FontXXXBig-XBold {
  font-family: unquote('Roboto');
  font-size: 28px;
  font-weight: 900;
}

@mixin FontLarge-XBold {
  font-family: unquote('Roboto');
  font-size: 32px;
  font-weight: 900;
}

@mixin FontXLarge-XBold {
  font-family: unquote('Roboto');
  font-size: 36px;
  font-weight: 900;
}

@mixin FontXXLarge-XBold {
  font-family: unquote('Roboto');
  font-size: 40px;
  font-weight: 900;
}

@mixin FontXXXLarge-XBold {
  font-family: unquote('Roboto');
  font-size: 44px;
  font-weight: 900;
}
/*#endregion*/

/*#region font-face: Roboto Mono*/
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhGq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhPq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhIq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhEq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhFq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhGq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhPq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhIq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhEq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhFq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhGq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhPq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhIq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhEq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhFq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhGq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhPq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhIq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhEq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhFq3-OXg.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/*#endregion*/

/*#region Regular*/
@mixin FontCodeXXXSmall {
  font-family: unquote('Roboto Mono');
  font-size: 8px;
}

@mixin FontCodeXXSmall {
  font-family: unquote('Roboto Mono');
  font-size: 10px;
}

@mixin FontCodeXSmall {
  font-family: unquote('Roboto Mono');
  font-size: 12px;
}

@mixin FontCodeSmall {
  font-family: unquote('Roboto Mono');
  font-size: 14px;
}

@mixin FontCodeMedium {
  font-family: unquote('Roboto Mono');
  font-size: 16px;
}

@mixin FontCodeBig {
  font-family: unquote('Roboto Mono');
  font-size: 18px;
}

@mixin FontCodeXBig {
  font-family: unquote('Roboto Mono');
  font-size: 20px;
}

@mixin FontCodeXXBig {
  font-family: unquote('Roboto Mono');
  font-size: 24px;
}

@mixin FontCodeXXXBig {
  font-family: unquote('Roboto Mono');
  font-size: 28px;
}

@mixin FontCodeLarge {
  font-family: unquote('Roboto Mono');
  font-size: 32px;
}

@mixin FontCodeXLarge {
  font-family: unquote('Roboto Mono');
  font-size: 36px;
}

@mixin FontCodeXXLarge {
  font-family: unquote('Roboto Mono');
  font-size: 40px;
}

@mixin FontCodeXXXLarge {
  font-family: unquote('Roboto Mono');
  font-size: 44px;
}
/*#endregion*/

/*#region Thin - 200*/
@mixin FontCodeXXXSmall-Thin {
  font-family: unquote('Roboto Mono');
  font-size: 8px;
  font-weight: 200;
}

@mixin FontCodeXXSmall-Thin {
  font-family: unquote('Roboto Mono');
  font-size: 10px;
  font-weight: 200;
}

@mixin FontCodeXSmall-Thin {
  font-family: unquote('Roboto Mono');
  font-size: 12px;
  font-weight: 200;
}

@mixin FontCodeSmall-Thin {
  font-family: unquote('Roboto Mono');
  font-size: 14px;
  font-weight: 200;
}

@mixin FontCodeMedium-Thin {
  font-family: unquote('Roboto Mono');
  font-size: 16px;
  font-weight: 200;
}

@mixin FontCodeBig-Thin {
  font-family: unquote('Roboto Mono');
  font-size: 18px;
  font-weight: 200;
}

@mixin FontCodeXBig-Thin {
  font-family: unquote('Roboto Mono');
  font-size: 20px;
  font-weight: 200;
}

@mixin FontCodeXXBig-Thin {
  font-family: unquote('Roboto Mono');
  font-size: 24px;
  font-weight: 200;
}

@mixin FontCodeXXXBig-Thin {
  font-family: unquote('Roboto Mono');
  font-size: 28px;
  font-weight: 200;
}

@mixin FontCodeLarge-Thin {
  font-family: unquote('Roboto Mono');
  font-size: 32px;
  font-weight: 200;
}

@mixin FontCodeXLarge-Thin {
  font-family: unquote('Roboto Mono');
  font-size: 36px;
  font-weight: 200;
}

@mixin FontCodeXXLarge-Thin {
  font-family: unquote('Roboto Mono');
  font-size: 40px;
  font-weight: 200;
}

@mixin FontCodeXXXLarge-Thin {
  font-family: unquote('Roboto Mono');
  font-size: 44px;
  font-weight: 200;
}
/*#endregion*/

/*#region Bold - 700*/
@mixin FontCodeXXXSmall-Bold {
  font-family: unquote('Roboto Mono');
  font-size: 8px;
  font-weight: 700;
}

@mixin FontCodeXXSmall-Bold {
  font-family: unquote('Roboto Mono');
  font-size: 10px;
  font-weight: 700;
}

@mixin FontCodeXSmall-Bold {
  font-family: unquote('Roboto Mono');
  font-size: 12px;
  font-weight: 700;
}

@mixin FontCodeSmall-Bold {
  font-family: unquote('Roboto Mono');
  font-size: 14px;
  font-weight: 700;
}

@mixin FontCodeMedium-Bold {
  font-family: unquote('Roboto Mono');
  font-size: 16px;
  font-weight: 700;
}

@mixin FontCodeBig-Bold {
  font-family: unquote('Roboto Mono');
  font-size: 18px;
  font-weight: 700;
}

@mixin FontCodeXBig-Bold {
  font-family: unquote('Roboto Mono');
  font-size: 20px;
  font-weight: 700;
}

@mixin FontCodeXXBig-Bold {
  font-family: unquote('Roboto Mono');
  font-size: 24px;
  font-weight: 700;
}

@mixin FontCodeXXXBig-Bold {
  font-family: unquote('Roboto Mono');
  font-size: 28px;
  font-weight: 700;
}

@mixin FontCodeLarge-Bold {
  font-family: unquote('Roboto Mono');
  font-size: 32px;
  font-weight: 700;
}

@mixin FontCodeXLarge-Bold {
  font-family: unquote('Roboto Mono');
  font-size: 36px;
  font-weight: 700;
}

@mixin FontCodeXXLarge-Bold {
  font-family: unquote('Roboto Mono');
  font-size: 40px;
  font-weight: 700;
}

@mixin FontCodeXXXLarge-Bold {
  font-family: unquote('Roboto Mono');
  font-size: 44px;
  font-weight: 700;
}
/*#endregion*/

/*#region XBold - 900*/
@mixin FontCodeXXXSmall-XBold {
  font-family: unquote('Roboto Mono');
  font-size: 8px;
  font-weight: 900;
}

@mixin FontCodeXXSmall-XBold {
  font-family: unquote('Roboto Mono');
  font-size: 10px;
  font-weight: 900;
}

@mixin FontCodeXSmall-XBold {
  font-family: unquote('Roboto Mono');
  font-size: 12px;
  font-weight: 900;
}

@mixin FontCodeSmall-XBold {
  font-family: unquote('Roboto Mono');
  font-size: 14px;
  font-weight: 900;
}

@mixin FontCodeMedium-XBold {
  font-family: unquote('Roboto Mono');
  font-size: 16px;
  font-weight: 900;
}

@mixin FontCodeBig-XBold {
  font-family: unquote('Roboto Mono');
  font-size: 18px;
  font-weight: 900;
}

@mixin FontCodeXBig-XBold {
  font-family: unquote('Roboto Mono');
  font-size: 20px;
  font-weight: 900;
}

@mixin FontCodeXXBig-XBold {
  font-family: unquote('Roboto Mono');
  font-size: 24px;
  font-weight: 900;
}

@mixin FontCodeXXXBig-XBold {
  font-family: unquote('Roboto Mono');
  font-size: 28px;
  font-weight: 900;
}

@mixin FontCodeLarge-XBold {
  font-family: unquote('Roboto Mono');
  font-size: 32px;
  font-weight: 900;
}

@mixin FontCodeXLarge-XBold {
  font-family: unquote('Roboto Mono');
  font-size: 36px;
  font-weight: 900;
}

@mixin FontCodeXXLarge-XBold {
  font-family: unquote('Roboto Mono');
  font-size: 40px;
  font-weight: 900;
}

@mixin FontCodeXXXLarge-XBold {
  font-family: unquote('Roboto Mono');
  font-size: 44px;
  font-weight: 900;
}
/*#endregion*/

/*#region Material Icons*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v126/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v101/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsround/v100/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Material Icons Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconssharp/v101/oPWQ_lt5nv4pWNJpghLP75WiFR4kLh3kvmvR.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Material Icons Two Tone';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconstwotone/v104/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0.woff2)
    format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;

  &-outlined {
    @extend .material-icons;
    font-family: 'Material Icons Outlined';
  }
  &-round {
    @extend .material-icons;
    font-family: 'Material Icons Round';
  }
  &-sharp {
    @extend .material-icons;
    font-family: 'Material Icons Sharp';
  }
  &-two-tone {
    @extend .material-icons;
    font-family: 'Material Icons Two Tone';
  }
}
/*#endregion*/
